  overflow: hidden;
}

#catalog .catalog {
  position: relative;
}
#catalog .catalog--one {
  display: flex;
  justify-content: space-between;
}
#catalog .catalog--one__text h1 {
  color: white;
  font-size: 50px;
  padding: 20px 0;
}
#catalog .catalog--one__text p {
  font-size: 20px;
  color: white;
}
#catalog .catalog--one__left {
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: flex-end;
}
#catalog .catalog--one__left--left1 {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
#catalog .catalog--one__left--left1 p {
  color: #9099A3;
}
#catalog .catalog--one__left--left1 input {
  color: #9099A3;
  font-size: 18px;
  background: none;
  border: 2px solid #9099A3;
  width: 700px;
  height: 50px;
  border-radius: 10px;
  padding: 0 20px;
  margin: 10px 0;
}
#catalog .catalog--one__left--end {
  padding: 10px 0;
  display: flex;
}
#catalog .catalog--one__left--end p {
  color: white;
  padding: 0 57px;
}
#catalog .catalog--one__left--end button {
  width: 280px;
  height: 60px;
  border-radius: 15px;
  font-size: 17px;
  background: red;
  color: white;
  transition: 0.7s;
  transform: scale(1);
  cursor: pointer;
}
#catalog .catalog--one__left--end button:hover {
  transition: 0.7s;
  transform: scale(1.1);
  background: #ffffff;
  color: black;
  font-size: 20px;
}

#saidebar .saidebar--start h1 {
  color: white;
  font-size: 40px;
  padding: 20px 600px;
}
#saidebar .saidebar--start__start2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#saidebar .saidebar--start__start2--center {
  position: relative;
  width: 400px;
  height: 300px;
  background: #000;
}
#saidebar .saidebar--start__start2--center img {
  position: absolute;
  left: 150px;
}
#saidebar .saidebar--start__start2--center__center1 p {
  padding-top: 70px;
  color: white;
}
#saidebar .saidebar--start__start2--center__end {
  display: flex;
  padding: 20px 0;
  color: white;
}
#saidebar .saidebar--start__start2--center__btn {
  padding: 10px 120px;
}
#saidebar .saidebar--start__start2--center__btn button {
  width: 260px;
  height: 50px;
  font-size: 20px;
  padding: 0px 15px;
  border-radius: 10px;
  background: red;
  color: white;
  border: none;
  transition: 0.7s;
  transform: scale(1);
  cursor: pointer;
}
#saidebar .saidebar--start__start2--center__btn button:hover {
  transition: 0.7s;
  transform: scale(1.1);
  background: white;
  color: black;
  font-size: 15px;
}

#footer .footer {
  color: white;
}
#footer .footer--start {
  display: flex;
  padding: 80px 0px;
}
#footer .footer--start__two {
  padding: 10px 40px;
}
#footer .footer--start__two p {
  color: #9099A3;
}
#footer .footer--start__three {
  padding-left: 240px;
}
#footer .footer--start__three p {
  color: #9099A3;
}
#footer .footer--start__three--iconka {
  font-size: 20px;
  padding: 10px 0px;
}
#footer .footer--start__three--iconka .fa-facebook-f {
  margin: 0 10px;
}
#footer .footer--start__three--iconka .fa-telegram {
  margin: 0 10px;
}
#footer .footer--start__three--iconka__icons {
  margin: 5px 0px;
}
#footer .footer--start__three--iconka__icons .fa-youtube {
  margin: 0 10px;
}
#footer .footer--start__four {
  padding-left: 200px;
}
#footer .footer--start__four p {
  margin-top: 60px;
  color: #9099A3;
}
#footer .footer--end {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
#footer .footer--end p {
  color: #9099A3;
}
#footer .footer--end__two {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
=======
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700&family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 90%;
  margin: 0 auto;
}

body {
  background: #232020;
  font-family: "Poppins", sans-serif;
}

.info {
  background: DarkGray;
  box-shadow: 0 0 1px rgba(169, 169, 169, 0.25);
  color: #fff;
}

.alert {
  background: DarkRed;
  box-shadow: 0 0 1px rgba(139, 0, 0, 0.25);
  color: #fff;
}

.success {
  background: DarkGreen;
  box-shadow: 0 0 1px rgba(0, 100, 0, 0.25);
  color: #fff;
}

#header {
  height: 72px;
  background: rgba(0, 0, 0, 0.16);
  box-shadow: 0 0 16px rgba(38, 38, 38, 0.16);
  display: flex;
  align-items: center;
}
#header .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}
#header .header__two a {
  margin: 0 20px;
  color: darkgrey;
}
#header .header__logo {
  display: flex;
  align-items: center;
}
#header .header p {
  font-weight: 400;
  font-size: 8px;
  line-height: 12px;
  color: #FFFFFF;
  margin-left: 10px;
}

#hero .hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#hero .hero--one {
  padding: 15% 0;
}
#hero .hero--one h2 {
  font-weight: 400;
  font-size: 24px;
  color: #9099A3;
}
#hero .hero--one h1 {
  font-weight: 700;
  font-size: 48px;
  color: #FFFFFF;
  padding: 30px 0;
}
#hero .hero--one__button {
  font-weight: 900;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 180px;
  height: 40px;
  background: #FF1A1A;
  box-shadow: 0 8px 20px rgba(255, 26, 26, 0.2);
  border-radius: 10px;
}
#hero .hero--one__button:hover {
  background: black;
  transition: 0.7s;
  transform: scale(1.1);
}

#cursor .container .cursor--nav {
  display: flex;
  padding: 40px 0;
}
#cursor .container .cursor--nav__h1 {
  font-weight: 700;
  font-size: 36px;
  color: #FFFFFF;
}
#cursor .container .cursor--nav__a {
  width: 44px;
  height: 44px;
  background: #FFFFFF;
  border-radius: 15px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#cursor .container .cursor--title__block {
  width: 510px;
  height: 300px;
  left: 80px;
  top: 1123px;
  background: #FFFFFF;
  border-radius: 15px;
}
#cursor .container .cursor--title__block--one a {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #9099A3;
}

.nav {
  display: flex;
  align-items: center;
}
.nav .nav--title {
  position: relative;
  width: 600px;
  height: 300px;
  background: #FFFFFF;
  border-radius: 15px;
  padding-left: 20px;
  margin-left: 10px;
}
.nav .nav--title .nav--item {
  display: flex;
  align-items: center;
  padding: 20px 10px;
}
.nav .nav--title .nav--item__img {
  width: 20px;
  height: 16px;
  border: 1px solid #9099A3;
  border-radius: 1px;
}
.nav .nav--title .nav--item__a {
  font-weight: 400;
  font-size: 12px;
  color: #9099A3;
  margin: 0 10px;
}
.nav .nav--title .nav--bar__h1 {
  font-weight: 700;
  font-size: 20px;
  color: #2C3E50;
}
.nav .nav--title .nav--bar__p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #2C3E50;
}
.nav .nav--title .nav--items {
  padding: 70px 0;
}
.nav .nav--title .nav--items__button {
  width: 180px;
  height: 40px;
  left: 100px;
  top: 301px;
  background: #FF1A1A;
  box-shadow: 0 8px 20px rgba(255, 26, 26, 0.2);
  border-radius: 10px;
  border: none;
}
.nav .nav--title .nav--items__button:hover {
  background: #FFFFFF;
  transition: 0.7s;
  transform: scale(1.1);
}
.nav .nav--title .nav--items__button a {
  width: 13px;
  height: 0;
  left: 237px;
  top: 321px;
  transform: matrix(1, 0, 0, -1, 0, 0);
  padding-left: 30px;
  padding-top: 60px;
}
.nav .nav--title .hero--three__img {
  position: absolute;
  bottom: 1px;
  left: 55%;
}

#product .product--title {
  padding: 30px 0;
}
#product .product--title__h1 {
  font-weight: 700;
  font-size: 36px;
  color: #FFFFFF;
  padding: 30px 0;
}
#product .product--title__button {
  width: 80px;
  height: 40px;
  background: #FFFFFF;
  border-radius: 10px;
}
#product .product--title__button:hover {
  background: rgb(255, 255, 255);
  transition: 0.7s;
  transform: scale(1.1);
  border: none;
}
#product .product--title__button1 {
  width: 120px;
  height: 40px;
  background: #FF1A1A;
  box-shadow: 0 20px 40px rgba(26, 92, 255, 0.2);
  border-radius: 10px;
}
#product .product--title__button1:hover {
  background: rgba(255, 0, 0, 0.97);
  transition: 0.7s;
  transform: scale(1.1);
  border: none;
}
#product .product--nav {
  display: flex;
  padding: 10px 0;
}
#product .product--nav .nav--title2 {
  position: relative;
  width: 600px;
  height: 300px;
  background: #FFFFFF;
  border-radius: 15px;
  padding-left: 20px;
  margin-left: 10px;
}
#product .product--nav .nav--title2 .nav--item {
  display: flex;
  align-items: center;
  padding: 20px 10px;
}
#product .product--nav .nav--title2 .nav--item__img {
  width: 20px;
  height: 16px;
  border: 1px solid #9099A3;
  border-radius: 1px;
}
#product .product--nav .nav--title2 .nav--item__a {
  font-weight: 400;
  font-size: 12px;
  color: #9099A3;
  margin: 0 10px;
}
#product .product--nav .nav--title2 .nav--bar__h1 {
  font-weight: 700;
  font-size: 20px;
  color: #2C3E50;
}
#product .product--nav .nav--title2 .nav--bar__p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #2C3E50;
}
#product .product--nav .nav--title2 .nav--items {
  padding: 70px 0;
}
#product .product--nav .nav--title2 .nav--items__button {
  width: 180px;
  height: 40px;
  left: 100px;
  top: 301px;
  background: #FF1A1A;
  box-shadow: 0 8px 20px rgba(255, 26, 26, 0.2);
  border-radius: 10px;
  border: none;
}
#product .product--nav .nav--title2 .nav--items__button:hover {
  background: rgba(255, 0, 0, 0.85);
  transition: 0.7s;
  transform: scale(1.1);
}
#product .product--nav .nav--title2 .nav--items__button a {
  width: 13px;
  height: 0;
  left: 237px;
  top: 321px;
  transform: matrix(1, 0, 0, -1, 0, 0);
  padding-left: 30px;
  padding-top: 60px;
}
#product .product--nav .nav--title2 .hero--three__img {
  position: absolute;
  bottom: 1px;
  left: 55%;
}
#product .title--nav {
  display: flex;
  justify-content: center;
  padding: 50px 0;
}
#product .title--nav__button {
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
  width: 300px;
  height: 60px;
  left: 450px;
  top: 1804px;
  background: #FF1A1A;
  box-shadow: 0 5px 8px rgba(255, 26, 26, 0.2);
  border-radius: 20px;
}
#product .title--nav__button:hover {
  background: #131212;
  transition: 0.7s;
  transform: scale(1.1);
}

#global .container .global--svg {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#global .container .global--nav {
  padding: 20px 0;
}
#global .container .global--nav__h1 {
  font-weight: 700;
  font-size: 36px;
  color: #FFFFFF;
  padding: 20px 0;
}
#global .container .global--nav__button {
  font-weight: 500;
  font-size: 18px;
  color: #2C3E50;
  width: 80px;
  height: 40px;
  left: 76px;
  top: 1938px;
  background: #FFFFFF;
  border-radius: 10px;
  border: none;
}
#global .container .global--nav__button:hover {
  background: #131212;
  transition: 0.7s;
  transform: scale(1.1);
}
#global .container .global--nav__button1 {
  font-weight: 500;
  font-size: 18px;
  color: #FFFFFF;
  width: 120px;
  height: 40px;
  left: 161px;
  top: 1938px;
  background: #FF1A1A;
  box-shadow: 0 20px 40px rgba(255, 26, 26, 0.2);
  border-radius: 10px;
  border: none;
}
#global .container .global--nav__button1:hover {
  background: cadetblue;
  transition: 0.7s;
  transform: scale(1.1);
}
#global .container .global--one {
  width: 326px;
  height: 300px;
  left: 77px;
  top: 1998px;
  background: #FFFFFF;
  border-radius: 15px;
}
#global .container .global--one__two {
  display: flex;
  padding: 10px 10px;
}
#global .container .global--one__two button {
  font-weight: 400;
  font-size: 12px;
  color: #FFFFFF;
  width: 80px;
  height: 20px;
  left: 97px;
  top: 2018px;
  background: #9099A3;
  border-radius: 5px;
  border: none;
}
#global .container .global--one__two button:hover {
  background: #000000;
  transition: 0.7s;
  transform: scale(1.1);
}
#global .container .global--one__two h5 {
  font-weight: 400;
  font-size: 12px;
  color: #9099A3;
  padding: 0 10px;
}
#global .container .global--three {
  padding: 15px;
}
#global .container .global--three hr {
  width: 90%;
  margin-top: 20px;
}
#global .container .global--three__block {
  display: flex;
  align-items: center;
  padding: 20px 0;
}
#global .container .global--three__block img {
  margin-right: 20px;
}
#global .container .global--three h2 {
  font-weight: 700;
  font-size: 16px;
  color: #2C3E50;
}
#global .container .global--three h4 {
  font-weight: 400;
  font-size: 14px;
  color: #9099A3;
}
#global .container .global--item {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}
#global .container .global--item button {
  font-weight: 900;
  font-size: 18px;
  color: #9099A3;
  width: 340px;
  height: 50px;
  left: 426px;
  top: 2338px;
  border: 2px solid #9099A3;
  filter: drop-shadow(0px 5px 8px rgba(26, 92, 255, 0.2));
  border-radius: 12px;
}
#global .container .global--item button:hover {
  background: #131212;
  transition: 0.7s;
  transform: scale(1.1);
}

/*# sourceMappingURL=style.css.map */
